{{!-- <h1>Current weather data</h1>
<p>{{data}} </p> 
<p>{{temp}}</p> --}}
{{!-- Data from API --}}


{{!-- The data we are inputting is called HANDLEBARS --}}
{{!-- It is a framework used to input data --}}

<ul>
    {{#each data}}
    <li>{{key}} : {{this}}</li>
    {{/each}}
</ul>

<form action="/" method="POST">
    <label for="location">Location: </label>
    <input type="text" name="location">
    <br>
    <label for="countryCode">countryCode: </label>
    <input type="text" name="areaCode">
    <br>
    <input type="submit" value="send">
</form>